.main{

}
.one{

}
#one{
    background: none;
    border: 2px solid green;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;  
}
#two{
    background: none;
    border: 2px solid green;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}
#three{
    background: none;
    border: 2px solid green;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}
#four{
    background: none;
    border: 2px solid green;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#five{
    background: none;
    border: 2px solid green;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#six{
    background: none;
    border: 2px solid green;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#seven{
    background: none;
    border: 2px solid green;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#eight{
    background: none;
    border: 2px solid green;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#nine{
    background: none;
    border: 2px solid green;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#ten{
    background: none;
    border: 2px solid green;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#eleven{
    background: none;
    border: 2px solid green;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#twelve{
    background: none;
    border: 2px solid green;
    width: 5.33%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#a{
    background: none;
    border: 2px solid green;
    width: 25.5%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}
#b{
    background: none;
    border: 2px solid green;
    width: 25.5%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}
#c{
    background: none;
    border: 2px solid green;
    width: 25.5%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}
#d{
    background: none;
    border: 2px solid green;
    width: 25.5%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}
#e{
    background: none;
    border: 2px solid green;
    width: 52.5%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block; 
}
#f{
    background: none;
    border: 2px solid green;
    width: 39%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}
#g{
    background: none;
    border: 2px solid green;
    width: 39%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}
#h{
    background: none;
    border: 2px solid green;
    width: 79.5%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}
#i{
    background: none;
    border: 2px solid green;
    width: 25.5%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}
#j{
    width: 25.5%;
    margin-top: 10px;
    margin-left: 16px;
}
#k{
    background: none;
    border: 2px solid green;
    width: 25.5%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;   
}
#l{
    background: none;
    border: 2px solid green;
    width: 18.5%;
    margin-top: 10px;
    margin-left: 246px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}
#m{
    width: 25.5%;
    margin-top: 10px;
    margin-left: -54px;
}
#n{
    background: none;
    border: 2px solid green;
    width: 18.5%;
    margin-top: 10px;
    margin-left: 16px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}
#o{
    background: none;
    border: 2px solid green;
    width: 25.5%;
    margin-top: 10px;
    margin-left: 330px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}